.DS_Store
/.idea/
/insteadman
/insteadman.exe
/insteadman-gtk
/insteadman-gtk.exe
/insteadman-fyne
/insteadman-fyne.exe
/cmd/insteadman/insteadman
/cmd/insteadman/insteadman.exe
/cmd/insteadman-fyne/insteadman-fyne
/cmd/insteadman-fyne/insteadman-fyne.exe
/cache
/resources/testdata/insteadman/cache
/build
/resources/gtk/*.glade~
/resources/gtk/*.glade#
/gtk/resource.syso
/resources/windows/instead
/resources/windows/setup.iss
/resources/darwin/bundle-gtk/Info-insteadman.plist
/resources/locale/*.pot
*.po~
