.DS_Store
/.idea/
/insteadman-cli
/insteadman-gtk
/repositories
/temp_games
/resources/testdata/games
/resources/testdata/insteadman/temp_games
/resources/testdata/insteadman/repositories/*
!/resources/testdata/insteadman/repositories/test.xml
/build
/resources/gtk/*.glade~
