.DS_Store
/.idea/
/insteadman
/insteadman-cli
/insteadman-gtk
/insteadman-gtk.exe
/cache
/resources/testdata/insteadman/cache
!/resources/testdata/insteadman/cache/repositories/test.xml
/build
/resources/gtk/*.glade~
/resources/gtk/*.glade#
/gtk/resource.syso
/resources/windows/instead
