<!-- FOOTER -->
<footer>
    <p class="pull-right"><a href="#">{{ site.t[page.lang].toUp }}</a></p>
    <p>&copy; 2015-2018 InsteadMan &middot;
        <a href="{{ '/cli' | prepend: page.l | prepend: site.baseurl }}" title="{{ site.t[page.lang].consoleApplication }}">CLI</a> &middot;
        <a href="{{ site.t[page.lang].insteadSiteUrl }}">INSTEAD <span class="glyphicon glyphicon-link"></span></a> &middot;
        <a href="{{ site.discussionUrl }}">{{ site.t[page.lang].discussion }} <span class="glyphicon glyphicon-link"></span></a> &middot;
        <a href="{{ site.githubUrl }}">GitHub <span class="glyphicon glyphicon-link"></span></a>
    </p>
</footer>
